.game-area {
  background-color: cyan;

  width: 50vh;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 55rem;
  top: 10rem;
}
.main {
  background-image: url(/public//images/snake.jpeg);
  background-repeat: none;
  height: 98vh;
}
html {
  background-color: black;
}
