.game-area{
  position: relative;
  margin: 50px auto;
  width: 450px;
  height: 450px;
  border: 2px solid black;
}
.snake{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: green;
  border: 1px solid white;
  z-index: 2;

}
.snake-food{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red  ;
  border: 1px solid white;
  z-index: 1;
}